body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjTrHv0ds2fmcAkx5Wax7APVNvK5HPTCOOww7EuHfOK7PA31PQ_HyEvQw2SadrFV3hllodF7_8EHfdIxySBbUq5aXsWKeglShkGK5tFZGEeN3ti-xdYvqLpI5SNGUnnLkBiIU3VkPDaaPoTfIBfcUgvakHIaJMwexq0u36IgrrtWObCgm-k3PxchTNDeg/s0/rick-and-morty-spaceship-4k-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}
header{
    background-color: #333;
    align-items: center;
    text-align: center;
    padding: 2% 0%;
    margin: 0px;
    width: 100%;
    color: wheat;
}
#tablaPersonajes {
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 15px;
}

#tablaPersonajes td {
    background: linear-gradient(gold, orangered);
    border: solid 4px gold;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    margin: 5px;
    text-align: center;
    box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.5);
    transition: 0.3s;
    vertical-align: middle;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tablaPersonajes td:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#tablaPersonajes img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    align-content: center;
}


.carta_personaje {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.2rem;
    color: #eaebeb;
    text-rendering: optimizeLegibility;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: .3rem;
    background-color: #333;
}
.flip {
    transform: rotateY(0deg);
}