body {
    margin: 0;
    padding: 20px;
    background: linear-gradient(rgb(10,200,180), rgba(20,240,200,0.8));
    font-family: sans-serif;
}

#tarjetas div, .pokemon-equipo {
    background: linear-gradient(gold, orangered);
    border: solid 4px gold;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.5);
    transition: 0.3s;
    vertical-align: top;
}

#tarjetas div:hover {
    transform: scale(1.09);
    cursor: pointer;
}

.scroll {
    width: 90%;
    height: 400px;
    border: 2px solid white;
    padding: 10px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

#equipos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid black;
    padding-top: 10px;
}