body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjTrHv0ds2fmcAkx5Wax7APVNvK5HPTCOOww7EuHfOK7PA31PQ_HyEvQw2SadrFV3hllodF7_8EHfdIxySBbUq5aXsWKeglShkGK5tFZGEeN3ti-xdYvqLpI5SNGUnnLkBiIU3VkPDaaPoTfIBfcUgvakHIaJMwexq0u36IgrrtWObCgm-k3PxchTNDeg/s0/rick-and-morty-spaceship-4k-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}
header{
    background-color: #333;
    align-items: center;
    text-align: center;
    padding: 2% 0%;
    margin: 0px;
    width: 100%;
    color: wheat;
}

#tarjetas div{
    background: linear-gradient(gold, orangered);
    border: solid 4px gold;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.5);
    transition: 0.3s;
    vertical-align: top;
}

#tarjetas div:hover {
    transform: scale(1.09);
    cursor: pointer;
}

.carta_personaje {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.2rem;
    color: #eaebeb;
    text-rendering: optimizeLegibility;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: .3rem;
    background-color: #333;
}